/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styling */
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background-color: black; */
  overflow-x: hidden;
  background-image:linear-gradient(0deg, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.8)), url('images/bg-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  /* padding: 0 10%; */
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: aqua;
}

h2, h3 {
  font-family: nunito;
  color: aqua;
}


/* header designs */
header {
  padding: 50px 0 0;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* background-color: rgb(0, 255, 255, 0.1);
  backdrop-filter: blur(50px); */
}

.nav-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0, 255, 255, 0.1);
  backdrop-filter: blur(50px); */
  z-index: -1;
}

.nav-container h1 {
  font-family: cursive;
  font-size: 1.5em;
  letter-spacing: 0px;
  /* text-shadow: 1px 1px 3px greenyellow; */
}

.nav-container .nav-menu {
  list-style: none;
  display: inline-flex;
  font-size: 1.2em;
}

.nav-container .nav-menu a {
  color: whitesmoke;
  padding: 0 0 0 40px;
  text-decoration: none;
}

.nav-container .nav-menu a:hover {
  color: greenyellow;
  text-decoration: overline;
}

.hamburger {
  position: absolute;
  right: 5%;
  font-size: 2em;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


/* main section designs */
main {
  padding: 8% 10%;
}


/***** hero section designs *****/
/* hero1 */
.hero1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero1 h1{
  /* color: yellowgreen; */
  background: linear-gradient(360deg, yellowgreen, aqua);
  background-clip: text ;
  -webkit-text-fill-color: transparent;
  font-size: 3.5em;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  width: 20px;
  height: 20px;
}

.icons a {
  background-color: yellowgreen;
  padding: 10px ;
  margin: 40px 20px 0 0;
  border-radius: 10px;
}

.icons a:hover {
  background-color: aqua;
  border-radius: 0;
}


/* hero2 */
.hero2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.hero2 img {
  width: 180px;
  height: 180px;
  box-shadow: 1px 1px 5px white;
}

.hero2 img:hover {
background-color: aqua;
}

.hero2 .css {
  margin-top: 100px;
}

.hero2 .nodejs {
  margin-top: 100px;
}


/* about section designs */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 100px 0;
}

/* about left content designs */
.left-content h2{
  font-size: 2em;
  color: aqua;
}

.left-content .text-content{
  font-size: 1.5em;
  padding: 20px 0 30px;
}

.left-content h3{
  font-size: 1.5em;
  color: aqua;
  padding: 0 0 10px ;
}

.left-content p {
  padding: 10px 0;
}

.left-content label {
  font-size: 1.1em;
  color: yellowgreen;
}

.about progress{
  width: 100%;
  height: 30px;
  appearance: none;
}

.about progress::-webkit-progress-bar {
  background-color: gray;
  border-radius: 15px;
  overflow: hidden;
}

.about progress::-webkit-progress-value {
  background-color: aqua;
  border-radius: 15px 0 0 15px;
  transition: width 0.25s;
}

.about progress::-moz-progress-bar {
  background-color: gray;
  border-radius: 15px;
  transition: width 0.25s;
}

/* about right-content designs */
.about .right-content {
  text-align: end;
}

.right-content img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}



/* portfolio designs */
.portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.article-portfolio h2 {
  padding-bottom: 1em;
  text-align: center;
  font-size: 2em;
}

.portfolio img {
  width: 270px;
  height: 280px;
  border-radius: 15px;
}

/* .portfolio img:nth-child(5) {
  width: 300px;
  height: 200px;
} */


/* footer designs */
.footer {
  text-align: center;
  padding: 0 10% 2%;
}

.footer h2 {
  padding-bottom: 20px;
  font-size: 2em;
}

.social-icons {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
}


.social-icons div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px whitesmoke;
}

.social-icons div img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.copy {
  padding: 30px 0 20px;
}


/* Media queries */
/* large screen sizes */
@media (max-width: 1024px) {

  /* general styling */
  main {
    padding: 10% 8%;
  }


  /* nav styling */
  .nav-container {
    padding: 30px 8%;
    background-color: none;
    backdrop-filter: none;
  }

  .hamburger {
    display: inline-flex;
  }

  #check:checked~.hamburger #menu-icon {
    display: none;
  }

  .hamburger #close-icon {
    display: none;
  }

  #check:checked~.hamburger #close-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(0, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5em 1em rgb(245, 245, 245, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked~.nav-menu {
    height: 17.7em;
  }

  .nav-container .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .nav-container .nav-menu a{
    font-size: 1.2em;
    padding: 0;
  }

  

  /***** hero section designs *****/
  /* hero1 */
  .hero1 {
    width: 100%;
  }

  .hero1 h1{
    font-size: 2.5em;
  }

  /* hero2 */
  .hero2 img {
    width: 100px;
    height: 100px;
  }


  /* about section designs */
  .about {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  /* about left content designs */
  .left-content {
    text-align: center;
  }

  .left-content h2{
    font-size: 2em;
  }

  .left-content .text-content{
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 20px 0 20px;
  }

  .left-content h3{
    font-size: 1.2em;
  }

  .about progress{
    width: 80%;
  }


  /* about right-content designs */
  .about .right-content {
    text-align: center;
  }

  .right-content img {
    width: 300px;
    height: 300px;
  }


  /* portfolio designs */
  .portfolio {
    gap: 40px;
  }

  .portfolio img {
    width: 210px;
    height: 240px;
  }
  

  /* footer designs */
  .footer {
    padding: 0 8% 2%;
  }

  .footer h2 {
    padding-bottom: 20px;
    font-size: 2em;
  }

  .social-icons div {
    padding: 20px 15px;
  }
}




/* Media queries*/
/* small screen sizes */
@media (max-width: 768px) {

  /* general styling */
  main {
    padding: 10% 5%;
  }


  /* nav styling */
  .nav-container {
    padding: 30px 5%;
  }

  .nav-container .nav-menu a{
    font-size: 1em;
  }

  
  /***** hero section designs *****/
  /* hero1 */

  .hero1 h1{
    font-size: 2em;
  }

  .hero1 h3{
    font-size: 1em;
  }

  /* hero2 */
  .hero2 img {
    width: 70px;
    height: 70px;
  }


  /* about section designs */
  /* about left content designs */


  .left-content h2{
    font-size: 1.5em;
  }

  .left-content .text-content{
    font-size: 1.05em;
  }

  .about progress{
    width: 100%;
  }


  /* about right-content designs */
  .about .right-content {
    text-align: center;
  }

  .right-content img {
    width: 250px;
    height: 250px;
  }


  /* portfolio designs */
  .portfolio {
    gap: 30px;
  }

  .article-portfolio h2 {
    font-size: 1.5em;
  }

  .portfolio img {
    width: 190px;
    height: 220px;
  }


  /* footer designs */
  .footer {
    padding: 0 5% 2%;
  }

  .footer h2 {
    font-size: 1.5em;
  }

  .social-icons div img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
}



/* Media queries*/
/* small screen sizes */
@media (max-width: 512px) {

  /* general styling */
  main {
    padding: 15% 5%;
  }


  /* nav styling */
  .nav-container {
    padding: 30px 5%;
  }

  .nav-container .nav-menu a{
    font-size: 1em;
  }

  
  /***** hero section designs *****/
  /* hero1 */

  .hero1 h1{
    font-size: 2em;
  }

  .hero1 h3{
    font-size: 1em;
  }

  /* hero2 */
  .hero2 img {
    width: 70px;
    height: 70px;
  }


  /* about section designs */
  /* about left content designs */


  .left-content h2{
    font-size: 1.5em;
  }

  .left-content .text-content{
    font-size: 1.05em;
  }

  .about progress{
    width: 100%;
  }


  /* about right-content designs */
  .about .right-content {
    text-align: center;
  }

  .right-content img {
    width: 250px;
    height: 250px;
  }


  /* portfolio designs */
  .portfolio {
    justify-content: center;
  }


  /* footer designs */
  .social-icons {
    grid-template-columns: auto auto;
  }
}