/***** CSS reset *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/***** general styling *****/
html {
  scroll-behavior: smooth;
  transition: 10s ease;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow-x: hidden;
  background-image:linear-gradient(0deg, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.8)), url('images/bg-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: aqua;
}

h2, h3 {
  font-family: nunito;
  color: aqua;
}


/***** header designs *****/
header {
  padding: 70px 0 0;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-container h1 {
  font-family: cursive;
  font-size: 1.5em;
}

.nav-container .nav-menu {
  list-style: none;
  display: inline-flex;
  font-size: 1.2em;
  gap: 50px;
}

.nav-container .nav-menu a {
  color: whitesmoke;
  /* padding: 0 0 0 40px; */
  text-decoration: none;
}

.nav-container .nav-menu a:hover {
  color: greenyellow;
  text-decoration: overline;
}

.nav-container .hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  /* -webkit-transition: all 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}


/***** main section designs *****/
main {
  padding: 100px 10%;
}


/***** hero section designs *****/
/* hero1 */
.hero1 {
  /* width: 100%; */
  /* margin: 0 auto;      needed for width less than 100% */ 
  text-align: center;
}

.hero1 h1 {
  background: linear-gradient(360deg, yellowgreen, aqua);
  background-clip: text ;
  -webkit-text-fill-color: transparent;
  font-size: 3.5em;
}

.hero1 h3 {
  color: whitesmoke;
  letter-spacing: 5px;
  font-size: 1.5em;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  width: 20px;
  height: 20px;
}

.icons a {
  background-color: yellowgreen;
  padding: 10px ;
  margin: 40px 20px 0 0;
  border-radius: 10px;
}

.icons a:hover {
  background-color: aqua;
  border-radius: 0;
}

/* hero2 */
.hero2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.hero2 img {
  width: 180px;
  height: 180px;
  box-shadow: 1px 1px 5px whitesmoke;
}

.hero2 img:hover {
background-color: aqua;
}

.hero2 .css {
  margin-top: 100px;
}

.hero2 .nodejs {
  margin-top: 100px;
}


/***** about section designs *****/
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 100px 0 0;
}

/* about left content designs */
.left-content h2{
  font-size: 2em;
  color: aqua;
}

.left-content .text-content{
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: justify;
  padding: 20px 0 30px;
}

.left-content h3{
  font-size: 1.5em;
  color: aqua;
  padding: 0 0 10px ;
}

.left-content p {
  padding: 10px 0;
}

.left-content label {
  font-size: 1.1em;
  color: yellowgreen;
  line-height: 1.5em;
}

.about progress{
  width: 100%;
  height: 30px;
  appearance: none;
  animation: progress 2s linear forwards;
}

.about progress::-webkit-progress-bar {
  background-color: gray;
  border-radius: 15px;
  overflow: hidden;
}

.about progress::-webkit-progress-value {
  background-color: aqua;
  border-radius: 15px 0 0 15px;
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.about progress::-moz-progress-bar {
  background-color: gray;
  border-radius: 15px;
  /* transition: width 0.25s; */
}

/* about right-content designs */
.about .right-content {
  text-align: end;
}

.right-content img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}


/***** portfolio designs *****/
.article-portfolio {
  padding-top: 100px;
}

.article-portfolio h2 {
  padding-bottom: 1em;
  text-align: center;
  font-size: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 50px;
}

.portfolio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.portfolio h3 {
  padding: 0.5em;
  font-size: 1.2em;
}

.portfolio p {
  font-size: 1em;
}

.portfolio img {
  width: 350px;
  height: 250px;
  border-radius: 50px 0;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
}


/***** footer designs *****/
.footer {
  text-align: center;
  padding: 0 10% 2%;
}

.footer h2 {
  padding-bottom: 20px;
  font-size: 2em;
}

.social-icons {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
}

.social-icons div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px whitesmoke;
}

.social-icons div .icons {
  font-size: 35px;
  color: whitesmoke;
} 

.social-icons div .icons:hover {
  color: aqua;
}

.copy {
  padding: 50px 0 0;
}




/***** Media queries *****/
/* large screen sizes */
@media (max-width: 1024px) {
  /***** nav styling *****/
  .nav-container {
    padding: 30px 8%;
  }


  /***** general styling *****/
  main {
    padding: 90px 8%;
  }


  /***** hero section designs *****/
  /* hero1 */
  .hero1 {
    width: 100%;
  }

  .hero1 h1{
    font-size: 2.5em;
  }

  /* hero2 */
  .hero2 img {
    width: 100px;
    height: 100px;
  }


  /***** about section designs *****/
  .about {
    padding: 90px 0 0;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about left content designs */
  .left-content {
    text-align: center;
  }

  .left-content h2{
    font-size: 2em;
  }

  .left-content .text-content{
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 20px 0 20px;
  }

  .left-content h3{
    font-size: 1.2em;
  }

  .about progress{
    width: 80%;
  }

  /* about right-content designs */
  .about .right-content {
    text-align: center;
  }

  .right-content img {
    width: 300px;
    height: 300px;
  }


  /***** portfolio designs *****/
  .article-portfolio {
    padding-top: 90px;
  }
  
  .portfolio img {
    width: 300px;
    height: 200px;
  }
  

  /***** footer designs *****/
  .footer {
    padding: 0 8% 2%;
  }

  .footer h2 {
    padding-bottom: 20px;
    font-size: 2em;
  }

  .social-icons div {
    padding: 20px 15px;
  }

  .social-icons div .icons {
    font-size: 30px;
  } 
}



/***** Media queries*****/
/* small screen sizes */
@media (max-width: 768px) {
  /***** nav styling *****/
  .nav-container {
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
  }
  
  .nav-container .nav-menu {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /***** general main styling *****/
  main {
    padding: 110px 5%;
  }
  

  /***** hero section designs *****/
  /* hero1 */
  .hero1 h1{
    font-size: 2em;
  }

  .hero1 h3{
    font-size: 1em;
  }

  /* hero2 */
  .hero2 img {
    width: 70px;
    height: 70px;
  }


  /***** about section designs *****/
  .about {
    padding: 110px 0 0;
  }
  
  /* about left content designs */
  .left-content h2{
    font-size: 1.7em;
  }

  .left-content .text-content{
    font-size: 1.05em;
  }

  .about progress{
    width: 100%;
  }

  /* about right-content designs */
  .about .right-content {
    text-align: center;
  }

  .right-content img {
    width: 250px;
    height: 250px;
  }


  /***** portfolio designs *****/
  .article-portfolio {
    padding-top: 110px;
  }

  .article-portfolio h2 {
    font-size: 1.7em;
  }

  .portfolio { 
    grid-template-columns: auto;
    justify-content: center;
  }
  
  .portfolio img {
    width: 350px;
    height: 230px;
    border-radius: 15px;
  }


  /***** footer designs *****/
  .footer {
    padding: 0 5% 2%;
  }

  .footer h2 {
    font-size: 1.7em;
  }

  .social-icons div .icons {
    font-size: 25px;
  }
}



/***** Media queries *****/
/* smaller screen sizes */
@media (max-width: 512px) {

  .nav-container {
    flex-direction: row;
    padding: 30px 5%;
  }

  .nav-container .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-container .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    /* box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1); */
  }

  .nav-container .nav-menu li {
    margin: 16px 0;
  }

  .nav-container .nav-menu.active {
    left: 0;
  }


  /***** general main body styling *****/
  main {
    padding: 80px 5%;
  }
  

  /***** hero section designs *****/
  /* hero1 */

  .hero1 h1{
    font-size: 2em;
  }

  .hero1 h3{
    font-size: 1em;
  }

  /* hero2 */
  .hero2 img {
    width: 70px;
    height: 70px;
  }


  /***** about section designs *****/
  .about{
    padding: 100px 0 0;
  }

  /* about left content designs */
  .left-content h2{
    font-size: 1.5em;
  }

  .left-content .text-content{
    font-size: 1.05em;
  }

  .about progress{
    width: 100%;
  }

  /* about right-content designs */
  .about .right-content {
    text-align: center;
  }

  .right-content img {
    width: 250px;
    height: 250px;
  }


  /***** portfolio designs *****/
  .article-portfolio {
    padding-top: 100px;
  }

  .portfolio img {
    width: 250px;
    height: 150px;
    border-radius: 50px 0;
  }

  .portfolio h3 {
    padding: 0.2em;
    font-size: 1em;
  }
  
  .portfolio p {
    font-size: 0.8em;
  }


  /***** footer designs *****/
  .social-icons {
    grid-template-columns: auto auto;
  }

  .social-icons div .icons {
    font-size: 20px;
  }
}